{% extends "base.html" %}
{% block page_content %}
<div class="page-content">
    <div class="bk-panel bk-panel-title-btns">
        <div class="bk-panel-header p25" role="tab">
            <div class="panel-title">报警信息</div>
        </div>
        <table class="bk-table has-table-bordered has-table-hover">
            <thead>
                <tr>
                    <th style="width:80px;">序号</th>
                    <th style="width:20%;">域名</th>
                    <th>操作行为</th>
                    <th>操作结果</th>
                    <th>操作时间</th>
                    <th>操作者IP</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>1</td>
                    <td>qq.com</td>
                    <td>会员账号登录</td>
                    <td>成功</td>
                    <td>2015-07-09</td>
                    <td>112.95.6.4</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>qq.com</td>
                    <td>会员账号登录</td>
                    <td>成功</td>
                    <td>2015-07-09</td>
                    <td>112.95.6.4</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>qq.com</td>
                    <td>会员账号登录</td>
                    <td>成功</td>
                    <td>2015-07-09</td>
                    <td>112.95.6.4</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>qq.com</td>
                    <td>会员账号登录</td>
                    <td>成功</td>
                    <td>2015-07-09</td>
                    <td>112.95.6.4</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>qq.com</td>
                    <td>会员账号登录</td>
                    <td>成功</td>
                    <td>2015-07-09</td>
                    <td>112.95.6.4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}