<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>我的监控系统</title>
    <link href="/static/template/bootstrap/bootstrap-3.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">
    <link href="/static/template/css/common.css" rel="stylesheet">
    <link href="/static/template/css/index.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body>
    <nav class="bk-horz-nav bk-horz-nav-min">
        <!-- <div class="bk-nav-logo fl">
            <img src="https://magicbox.bk.tencent.com/static_api/v3/components_pro/horizontal_nav1/images/logo.png">
        </div> -->
        <div class="bk-nav-logo" >
            <span class="bk-nav-logo">我的监控系统</span>
        </div>
        {% if request.session.rule == 0 %}
        <ul class="bk-nav-links fr">
            <li class="bk-has-submenu">
                <a href="javascript:;">{{ request.session.username }}</a>
                <ul class="bk-submenu">
                    <li>
                        <a href="/logout">注销</a>
                    </li>
                </ul>
            </li>
        </ul>
        {% else %}
        <div class="bk-nav-user fr">
            <!-- <span class="mr5"></span> -->
            {# <span>{{ request.session.username }}</span> #}
            <!-- <img src="https://magicbox.bk.tencent.com/static_api/v3/components_pro/horizontal_nav1/images/avatar.png"> -->
            <li class="bk-has-submenu">
                <a href="javascript:;">{{ request.session.username }}</a>
                <ul class="bk-submenu">
                    <li>
                        <a href="/logout">注销</a>
                    </li>
                </ul>
            </li>
        </div>
        {% endif %}
    </nav>
    <div class="bk-layout bk-layout-has-sidebar" style="height:calc(100% - 60px)">
        <div class="bk-sidebar slide-close">
            <div class="slide-switch">
                <i class="icon bk-icon icon-dedent f14"></i>
            </div>
            <div class="nav-list">
                <ul>
                    <li class="pureLink open">
                        <a href="/watch/">
                            <span class="icon-box">
                                <i class="bk-icon icon-home"></i>
                            </span>
                            <span class="nav-name">首页</span>
                        </a>
                    </li>
                    <li class="pureLink">
                        <a href="/watch/identify-history">
                            <span class="icon-box">
                                <i class="bk-icon icon-list"></i>
                            </span>
                            <span class="nav-name">文件列表</span>
                        </a>
                    </li>
                    <li class="pureLink">
                        <a href="/watch/list-task-record">
                            <span class="icon-box">
                                <i class="bk-icon icon-list"></i>
                            </span>
                            <span class="nav-name">人物图片</span>
                        </a>
                    </li>
                    <!-- <li class="pureLink">
                        <a href="/watch/list-task-record">
                            <span class="icon-box">
                                <i class="bk-icon icon-dedent"></i>
                            </span>
                            <span class="nav-name">视频播放</span>
                        </a>
                    </li> -->
                    <li class="pureLink">
                        <a href="/watch/list-user-favour">
                            <span class="icon-box">
                                <i class="bk-icon icon-dedent"></i>
                            </span>
                            <span class="nav-name">图片收藏</span>
                        </a>
                    </li>
                    <li class="pureLink">
                        <a href="/watch/list-task-record">
                            <span class="icon-box">
                                <i class="bk-icon icon-line-chart"></i>
                            </span>
                            <span class="nav-name">识别信息</span>
                        </a>
                    </li>
                    {% block leftBottom %}
                    {% endblock %}
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright &copy; 2023-05 我的监控系统.</p>
                <span>All Rights Reserved.</span>
            </div>
        </div>
        {% block page_content %}
        {% endblock %}
    </div>
    <!-- <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script> -->
    <script src="/static/template/js/common.js"></script>
    <script src="/static/template/js/index.js"></script> 
    <script type="text/javascript" src="/static/template/bootstrap/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    {% block script %}
    {% endblock %}
</body>
</html>